<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="dashboard">
      <header class="header">
        <a href="/dashboard">Back</a>
        <h1>COURSE ENROLLMENT</h1>
        <button class="profile">Profile</button>
      </header>
      <aside class="aside">
        <h2>Your Courses</h2>

        <div class="aside-list">
          <% enrolledCourses.forEach(course => { %>
          <div class="courses--enrolled" data-id="<%=course._id%>">
            <a><%=course.title %></a>
          </div>
          <% })%>
        </div>
      </aside>
      <main class="main student--enroll">
        <div class="main--top">
          <h2>AVAILABLE COURSES</h2>
        </div>

        <div class="main--content">
          <div class="main__content--element courses--available">
            <% availableCourses.forEach(course => { %>
            <div class="course">
              <a href="courses/<%=course._id%>/enroll" data-id="<%=course._id%>"
                ><%=course.title %></a
              >
            </div>
            <% })%>
          </div>
        </div>
      </main>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
