<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="dashboard">
      <header class="header">
        <a href="/enroll">Enroll</a>
        <h1>STUDENT DASHBOARD</h1>

        <% if (userImg){ %>
        <img class="profile-picture" src="<%= userImg %>" />

        <% } else{ %>
        <button>Profile</button>

        <%} %>
      </header>
      <aside class="aside">
        <h2>Your Courses</h2>
        <% courses.forEach(course => { %>
        <div class="aside--content">
          <a href="courses/<%=course._id%>" class="enrolled-course"
            ><%=course.title %></a
          >
        </div>
        <% })%>
      </aside>
      <main class="main">
        <div class="main--top">
          <h2>Hello <%= username%></h2>
          <h3 class="main__top--sub-heading">Latest homework</h3>
        </div>
        <div class="main--content">
          <% courses.forEach(course => { %>
          <div class="course--title">
            <a href="courses/<%=course._id%>"><%=course.title %></a>
          </div>
          <% if (user.homework){ user.homework.forEach(homework => { %>
          <a href="homework/<%=homework.id %>">
            <div class="main__content--element">
              <div class="element--body">
                <h4 class="homework--title"><%= homework.title %></h4>
                <h5><%= homework.type %></h5>
                <div class="homework--content">
                  <% if (homework.body) { %> <% } %>
                </div>

                <p class="homework--status"><%= homework.status %></p>
              </div>
            </div>
          </a>
          <%}) } %>
        </div>
        <% })%>
      </main>
    </div>

    <a href="/auth/logout">Logout</a>

    <!-- <script src="js/bundle.js"></script> -->
  </body>
</html>
