<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="dashboard">
      <header class="header">
        <a href="/dashboard">Back</a>
        <h1>STUDENT DASHBOARD</h1>
        <button>Profile</button>
      </header>
      <aside class="aside">
        <h2>Your Courses</h2>
        <div class="aside--content">
          <% courses.forEach(course => { %>
          <div class="course">
            <a href="courses/<%=course._id%>"><%=course.title %></a>
          </div>
          <% })%>
        </div>
      </aside>
      <main class="main">
        <div class="main--top">
          <div class="course--title">
            <h2><%=course.title %></h2>
          </div>
        </div>
        <div class="main--content">
          <% course.students.forEach(student => {
          student.homework.forEach(homework => { %>
          <a href="homework/<%=homework.id %>">
            <div class="main__content--element">
              <div class="element--body">
                <h4 class="homework--title"><%= homework.title %></h4>
                <h5><%= homework.type %></h5>
                <p></p>
                <div class="homework--content">
                  <%-formatText.truncate(homework.body, 120) %>
                </div>

                <p class="homework--status"><%= homework.status %></p>
              </div>
              <% })%> <% })%>
            </div>
          </a>
        </div>
      </main>
      <a href="/auth/logout">Logout</a>
    </div>
  </body>
</html>
